body{
    font: normal 16px Verdana, Arial, serif; 
}

h1{
    text-align: center;
    font: italic bolder 40px Arial, Verdana, sans-serif;
}

h2{
    text-align: right;
    font-family:'Times New Roman', Times, serif;
}

p{
    text-align: justify;
    text-indent: 20px;
}